@media screen and (max-width: 320px) {

  .menu-icon {
    display: block; /* Ensure the icon is visible */
    position: absolute; /* Position it relative to the header */
    top: 16px;
    right: 16px;
    z-index: 999; /* Ensure it appears above other elements */
  }

  .header__menu-icon {
    width: 24px; /* Adjust icon size for smaller screens */
    height: auto;
    display: inline-block;
    
  }

  
}