@import url(../../vendor//fonts/fonts.css);
@import url(../../vendor/normalize.css);

.page {
  
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width: 451px) and (max-width: 768px)  {
  .page {
   
    max-width: 768px;
    width: 100%;
     
  }
}
